body {
    background-color: #f0f0f7;
}

.form-container {
    background-color: #7e57c2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: white;
}

.form-container .form-group {
    margin-bottom: 20px;
}

.form-container .btn {
    background-color: #673ab7;
    border-color: #673ab7;
}

.form-container .btn:hover {
    background-color: #5e35b1;
    border-color: #5e35b1;
}

.btn {
    color: #fff;
}

.form-check-input {
    width: 1.2em;
    height: 1.2em;
}

/*Welcome message for user' and admins' pages*/

.welcome-message {
    background-color: #7e57c2;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%; /* Растягиваем на всю ширину */
    border-radius: 10px; /* Закругляем углы */
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Добавляем тень */
}

/*Log Out block*/

.logout-block {
    background-color: #7e57c2;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.logout-block .btn {
    background-color: #d32f2f;
    border-color: #d32f2f;
}

.logout-block .btn:hover {
    background-color: #c62828;
    border-color: #c62828;
}

/*Admin dashboar style*/

.data-table {
    margin-bottom: 30px;
}

.data-table th, .data-table td {
    text-align: center;
}

.user-block, .registered-user-block {
    background-color: #7e57c2;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.user-block h4, .registered-user-block h4 {
    text-align: center;
    margin-bottom: 20px;
}

.user-block .form-group, .registered-user-block .form-group {
    margin-bottom: 15px;
}

.user-block .form-control-plaintext, .registered-user-block .form-control-plaintext {
    background-color: #e0e0e0;
    padding: 5px;
    border: none;
    border-radius: 5px;
}